#main {
  border:2px solid green;
  text-align:center;
}
#1st {
  color:green;
  font-size:30px;
}
#_st {
  color:green;
  font-size:30px;
}
#-st {
  color:green;
  font-size:30px;
}
#st {
  color:green;
  font-size:30px;
}
#St {
  color:green;
  font-size:30px;
}
#--1 {
  color:green;
  font-size:30px;
}
#s {
  color:green;
  font-size:30px;
}
#_1 {
  color:green;
  font-size:30px;
}
#- {
  color:green;
  font-size:30px;
}
#-- {
  color:green;
  font-size:30px;
}
#_ {
  color:green;
  font-size:30px;
} 
#__ {
  color:green;
  font-size:30px;
}

#button\:cool {
  color: green;
  font-size: 30px;
  background-color: #FF0000;
}

#button\:cool:hover {
  color: green;
  font-size: 30px;
  background-color: #9400D3;
  cursor: pointer;
}